---
- name: create user node exporter
  ansible.builtin.user:
    name: "{{ node_ex_service_name }}"
    system: yes
    shell: /sbin/nologin
    create_home: no

- name: unpack arhiv into /tmp
  ansible.builtin.unarchive:
    src: "{{ node_ex_name }}.tar.gz"
    dest: /tmp/

- name: create dir prometheus
  ansible.builtin.file:
    path: "{{ node_exporter_dir }}"
    state: directory
    owner: "{{ node_ex_service_name }}"
    group: "{{ node_ex_service_name }}"
    mode: 0744

- name: copy binary file
  ansible.builtin.copy:
    src: "/tmp/{{ node_ex_name }}/node_exporter"
    dest: "{{ node_exporter_dir }}/node_exporter"
    owner: "{{ node_ex_service_name }}"
    group: "{{ node_ex_service_name }}"
    mode: 0755
    remote_src: yes

- name: 5 Добавление файла конфигурации node_exporter.service из шаблона
  ansible.builtin.template:
    src: node_exporter.j2
    dest: /etc/systemd/system/node_exporter.service
    owner: root
    group: root
    mode: 0644

- name: started node_exporter
  ansible.builtin.service:
    name: node_exporter.service
    state: started
    daemon_reload: yes
    enabled: yes

- name: test status node_exporter
  ansible.builtin.service:
    name: node_exporter.service
  register: status_service

- name: result status node_exporter
  debug:
    msg: "{{ status_service.status.Names}}: {{ status_service.status.ActiveState}}, {{ status_service.status.SubState }} "
